.movie-info {
    margin-top: 20px;
    padding-top: 10px;
    background-color: lightgray;
    padding-bottom: 10px;
    border-radius: 10px;
}

.page-br {
    background-color: #F5C518;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 10px;
    width: 100%;
    border-radius: 5px;
}

.r-image {
    height: auto;
    width: 100%;
}