.movie-info {
    margin-top: 20px;
    padding-top: 10px;
    background-color: lightgray;
    padding-bottom: 10px;
    border-radius: 10px;
}

.page-br {
    background-color: #F5C518;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 10px;
    width: 100%;
    border-radius: 5px;
}

.r-image {
    height: auto;
    width: 100%;
}

.movie-info .review,
.movie-info .name,
.movie-info .title,
.movie-info .rating {
    padding: 15px;
    font-size: 1.0rem;
}

.movie-info .rating {
    font-size: 1.2rem;
}

.movie-info .title {
    font-weight: 800;
    font-size: 1.6rem;
}

.movie-info .review {
    margin: 0 5%;
    color: rgb(80, 80, 80);
}

.movie-info .review-closed {
    max-height: 40px;
    overflow: hidden;
    margin: 0 5%;
    color: rgb(80, 80, 80);
}


.movie-info .name {
    font-size: 1.6rem;

}

.movie-info .ex-shr {
    color: rgb(40, 131, 28);
}

.movie-info .ex-shr-closed {
    color: rgb(255, 0, 0);
}

.movie-info .ex-shr-closed,
.movie-info .ex-shr {
    width: 100%;
    border: none;
    border-top: 1px solid rgb(122, 122, 122);
}
