.search-results {
  text-align: center;
  }

.sing-rev {
  background-color: lightgray;
}

.result-margin {
  margin-right: 4%;
  padding: 0;
}

.pg-bg {
  background-color: #141414;
  min-height: 70vh;
  max-width: 100%;
  height: auto;
  color: black;

  
}

.fit-image{
width: 100%;
object-fit: cover;
height: 100%; /* only if you want fixed height */
}


.center-message {
  margin: auto;
  width: auto;
  color: #F5C518;
  padding: 15%;
  font-size: 30px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
