.result-wrapper {
    border-block-color: black;
    border-color: black;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.c-image {
    width: 150px;
    height: 225px;  
}

.poster-wrapper {
    background-color: lightgray;
}

.poster-btn {
    margin: 0;
    padding: 0;
    background-color: black;
    transition: transform .2s;
}

.poster-btn:hover {
    transform: scale(1.5);
}

/* #obj-image {
    width: 150px;
    height: 225px;
} */
