/* * {
  font-size: 10px;
} */

body {
 overflow-x: hidden;
}

.flex-contain {
  display: flex;
}


@media screen and (max-width: 600px) {
    .navigation .nav-img {
      min-height: 20vh;
    }
  
    .navigation #title {
      font-size: 25px;
    }
  
    .navigation .logo {
      height: 25px;
    }

    .search-results .result-margin{
      margin-right: 0;
    }
}

#rb-btn {
    background-color: #1030AD;
    color: white;
  }
  
  #rb-btn:hover {
    background-color: #1030AD;
    color: #F5C518;
  }
  
  #rb-btn:focus {
    background-color: #F5C518;
    color: #1030AD;
  }

  

#mf-btn {
  background-color: lightgray;
  color: #1030AD;
}

#mf-btn:hover {
  color: #6ea3ff;
}

